<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Test IndexedDB</h2>
        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name" required autofocus ng-model="helloVm.name">
        <label for="City" class="sr-only">City</label>
        <input type="password" id="City" class="form-control" placeholder="City" required ng-model="helloVm.city">
        <button class="btn btn-lg btn-primary btn-block" ng-click="helloVm.handleOnline()">Save Offline</button>
    </div>
</div>